/**
 * * Tailwind theme settings
 * 
 * These are in a separate file so it can be imported into <style> tags in .astro components
 */
@theme {
	/* primary colors */
	--color-primary-50: oklch(0.98 0.0225 168.76);
	--color-primary-100: oklch(0.96 0.0557 166.26);
	--color-primary-200: oklch(0.92 0.0982 167.16);
	--color-primary-300: oklch(0.88 0.1291 169.03);
	--color-primary-400: oklch(0.81 0.1606 166.04);
	--color-primary-500: oklch(0.73 0.1513 166.26);
	--color-primary-600: oklch(0.63 0.1303 166.48);
	--color-primary-700: oklch(0.54 0.1063 169.92);
	--color-primary-800: oklch(0.45 0.0887 171.26);
	--color-primary-900: oklch(0.4 0.0756 174.09);
	--color-primary-950: oklch(0.27 0.0503 177.76);

	/* base colors */
	--color-base-50: oklch(97.31% 0 0);
	--color-base-100: oklch(92.8% 0 0);
	--color-base-200: oklch(86.07% 0 0);
	--color-base-300: oklch(75.72% 0 0);
	--color-base-400: oklch(62.68% 0 0);
	--color-base-500: oklch(53.48% 0 0);
	--color-base-600: oklch(47.84% 0 0);
	--color-base-700: oklch(42.76% 0 0);
	--color-base-800: oklch(39.04% 0 0);
	--color-base-900: oklch(33.29% 0 0);
	--color-base-950: oklch(26.86% 0 0);

	/* other colors */
	--color-info: var(--color-sky-300);
	--color-info-foreground: var(--color-sky-950);
	--color-success: var(--color-green-300);
	--color-success-foreground: var(--color-green-950);
	--color-warning: var(--color-amber-300);
	--color-warning-foreground: var(--color-amber-950);
	--color-error: var(--color-red-700);
	--color-error-foreground: var(--color-base-50);
	--color-dark-magenta: #2a1f26;
	--color-theme-french-mauve: oklch(67.65% 0.1539 329.18);
	--color-theme-raisin-black: oklch(25.53% 0.0209 340.25);
	--color-theme-tickle-me-pink: oklch(75.65% 0.143 355.9);
	--color-theme-seashell: oklch(95.25% 0.0147 33.07);
	--color-theme-turquoise: oklch(82.97% 0.148864 181.7442);

	/* layout settings */
	--breakpoint-xs: 400px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;

	/* font families */
	--font-fallback:
		'-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', 'sans-serif',
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--font-sans: 'Kalam', 'Bitter Variable', var(--font-fallback);
	--font-heading-1: 'Bungee', var(--font-serif);
	--font-heading-2: 'Permanent Marker', var(--font-fallback);
	--font-decorative: 'Creepster', 'Bitter Variable', var(--font-serif);
	--font-mono:
		'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
}
