---
import Layout from '@/layouts/Layout.astro'

const title = '404 - Thirtys Album'
const description =
	'Página no encontrada en Thirtys Album. Vuelve al inicio para seguir disfrutando.'
const canonical = 'https://thirtys-album.vlorente.dev/404'
---

<Layout title={title} description={description} canonical={canonical}>
	<section
		class="mask-fade-bottom flex min-h-screen w-full items-center justify-center text-center"
	>
		<div class="w-full max-w-3xl items-center justify-center">
			<h1 class="text-theme-raisin-black">
				<span
					class="rotate-113 mx-auto mb-12 block w-fit text-[120px] font-bold tracking-[.025em]"
					aria-hidden="true"
				>
					404
				</span>
				<span class="mb-2 block text-4xl font-bold tracking-wider">¿DONDE VAS?</span>
			</h1>
			<p class="text-theme-raisin-black mb-6 text-xl tracking-wide">
				parece que te has equivocado...
			</p>
			<div class="flex min-h-4 items-center justify-center">
				<a
					href="/"
					class="bg-primary-600 text-theme-raisin-black flex items-center justify-center rounded-lg px-8 py-4 text-sm font-bold tracking-widest transition-all duration-300 ease-out hover:rotate-[2deg] active:scale-90"
					aria-label="Botón para volver al inicio"
				>
					<span class="relative z-10 flex items-center gap-2 tracking-widest"> Volver </span>
				</a>
			</div>
		</div>
	</section>
</Layout>
