---
import DashboardSection from '@/components/Dashboard/DashboardSection.astro'
import Title from '@/components/Title.astro'
import { app } from '@/firebase/server'
import Layout from '@/layouts/Layout.astro'
import { getAuth } from 'firebase-admin/auth'

const auth = getAuth(app)

/* Check current session */
if (!Astro.cookies.has('__session')) {
	return Astro.redirect('/signin')
}
const sessionCookie = Astro.cookies.get('__session')!.value
const decodedCookie = await auth.verifySessionCookie(sessionCookie)
const user = await auth.getUser(decodedCookie.uid)

if (!user) {
	return Astro.redirect('/signin')
}
---

<Layout>
	<section class="relative flex min-h-screen w-full flex-col">
		<Title text="Dashboard" className="m-4 mt-24" />
		<div
			class="hand-drawn-shadow max-h-1/2 m-4 flex flex-1 flex-col items-center rounded-2xl border-4 border-black bg-white/80 pt-6"
		>
			<DashboardSection user={user} />
		</div>
	</section>
</Layout>
