---
import image from '@/assets/images/site-image.png'
import LoginForm from '@/components/LoginForm'
import { app } from '@/firebase/server'
import Layout from '@/layouts/Layout.astro'
import { getAuth } from 'firebase-admin/auth'

/* Check if the user is authenticated */
const auth = getAuth(app)
if (Astro.cookies.has('__session')) {
	const sessionCookie = Astro.cookies.get('__session')!.value
	const decodedCookie = await auth.verifySessionCookie(sessionCookie)
	if (decodedCookie) {
		return Astro.redirect('/dashboard', 302)
	}
}
---

<Layout pageTitle="Login">
	<div class="flex min-h-[60vh] flex-col items-center justify-center py-6">
		<!-- Imagen encabezado -->
		<img src={image.src} alt="Login Header" class="mb-4 w-1/2 max-w-md rounded-2xl shadow-lg" />
		<!-- Formulario de acceso -->
		<LoginForm client:load />
	</div>
</Layout>
