---
import LoginForm from '@/components/LoginForm'
import Title from '@/components/Title.astro'
import { app } from '@/firebase/server'
import Layout from '@/layouts/Layout.astro'
import { getAuth } from 'firebase-admin/auth'
import image from 'public/images/hero-logo.webp'

const title = 'Iniciar sesión - Thirtys Album'
const description =
	'¿Formas parte del grupo? Accede a Thirtys Album para actualziar las imágenes de la galería.'
const canonical = 'https://thirtys-album.vlorente.dev/sigin'

/* Check if the user is authenticated */
const auth = getAuth(app)
if (Astro.cookies.has('__session')) {
	const sessionCookie = Astro.cookies.get('__session')!.value
	const decodedCookie = await auth.verifySessionCookie(sessionCookie)
	if (decodedCookie) {
		return Astro.redirect('/dashboard', 302)
	}
}
---

<Layout title={title} description={description} canonical={canonical}>
	<section class="relative flex min-h-screen w-full flex-col">
		<div class="m-4 mt-24 lg:m-auto lg:max-w-3xl">
			<Title text="Login" className="m-4 sm:mt-24" />
			<div
				class="hand-drawn-shadow max-h-1/2 m-4 flex flex-1 flex-col items-center rounded-2xl border-4 border-black bg-white/80 pt-6"
			>
				<!-- Imagen encabezado -->
				<img src={image.src} alt="Login Header" class="mb-4 w-1/2 max-w-md rounded-2xl" />
				<!-- Formulario de acceso -->
				<LoginForm client:load />
			</div>
		</div>
	</section>
</Layout>
