---
import LogoutIcon from '@/components/Icons/LogoutIcon'
---

<div class="flex w-full items-center justify-center">
	<form action="/api/auth/signout" method="post">
		<button
			type="submit"
			class="flex items-center gap-2 rounded bg-gray-400 px-3 py-1 text-white transition hover:bg-red-500"
			aria-label="Cerrar sesión"
		>
			<LogoutIcon />
			<span class="text-sm font-medium">Cerrar sesión</span>
		</button>
	</form>
</div>
