---
import BaseHead from '@/components/BaseHead.astro'
import '@/styles/global.css'
---

<!doctype html>
<html lang="es">
	<BaseHead />
	<body id="body" class="min-h-screen bg-pink-100">
		<main id="main-content">
			<div
				transition:persist
				class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.webp')] bg-cover bg-center"
			>
			</div>
			<slot />
		</main>
	</body>
</html>
