---
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import '@/styles/global.css'

const { pageTitle } = Astro.props
---

<!doctype html>
<html lang="es">
	<BaseHead />
	<body id="body" class="min-h-screen bg-pink-100 p-4">
		<Header
			title={pageTitle}
			class="hand-drawn-shadow mb-4 rounded-2xl border-4 border-black bg-white p-2"
		/>
		<main class="hand-drawn-shadow mb-4 flex-1 rounded-2xl border-4 border-black bg-white">
			<slot />
		</main>
		<Footer class="hand-drawn-shadow bg-primary-700 rounded-2xl border-4 border-black p-2" />
	</body>
</html>
